//- 
 File Name: aboutMe.pug
 Author's name:  Arshdeep Singh
 Website name: Personal Portfolio
 File description: This file contains the information about authour including study and some more details of authour life.
//
include layout.pug
html 
  head
    title #{title}
  body
    // starting of abou me and use of html tags 
    <div>
        <h1 style= "text-align:center"; >Personal Details</h1><br><br><br><br>
        <h3> I am Arshdeep Singh, I am student at Georgian college in computer studies. I am fond of creating websites and playing games</h3><br><br>
            <h3>I am from india and came to canada last year in april 2019.I want to explore the world of programming more and more. </h3>
            <h3>I Spend me free time in playing video games.I am fond of creating and devloping new sites.I spend my most the time in watching netflix and listening to music.I love watching and playing Cricket.</h3>
    </div>
    // for neccesary gap between content and footer
    <div style ="margin-top:250">
    </div>
include partials/footer.pug