//- 
 File Name: contact.pug
 Author's name:  Arshdeep Singh
 Website name: Personal Portfolio
 File description: This file contains the contact information of the author including email address,home address and phone number .
//
include layout.pug
doctype html
html
  head
  title #{title}
    title
  body
      <div>
          <h1 class = "text-center"><u><b>My Contact</b></u></h1><br><br><br><br>  
      </div>
      <div style= "text-align:center"; >
      <h2> <b>Home Adreess</b>: 94A Wellington St.E <h2> 
      <h2> <b>Email Address</b>: Arshdeep1105@gmail.com<h2> 
      <h2> <b>Phone No.</b>: 705-770119<h2> 
      </div>
      <div style ="margin-top:300">
      </div>
include partials/footer.pug