//- 
 File Name: layout.pug
 Author's name:  Arshdeep Singh
 Website name: Personal Portfolio
 File description: this is the layout file of project , which set the main layout of project.
//
html
 head
// link to header 
include partials/header.pug
// blocking content for index page
block content  


