//- 
 File Name: services.pug
 Author's name:  Arshdeep Singh
 Website name: Personal Portfolio
 File description: This is a service page which conatins the information of language that authour has knowledge about.
//
include layout.pug
doctype html
html
  head
  title #{title}
  body
    <section class = "my-5">
            <div class="py-5">
                <h1 class = "text-center"><u>My Services</u></h1><br><br><br><br>
            </div>
            <div class  = "container-fluid">
                <div class = "row">
                    // column1 //
                    <div class = "col-lg-4 col-md-5 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Java</h2>
                                <h3 class="card-text">I have learbed the Advance level of Java and i am pretty good at it </h3>
                            </div>
                        </div>
                    </div>
                    //columm2//
                    <div class = "col-lg-4 col-md-3 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Asp.net</h2>
                                <h3 class="card-text">I have learned the Asp.net and also used it for my projects</h3>
                            </div>
                        </div>
                    </div>
                    // columm3//
                    <div class = "col-lg-4 col-md-5 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">JavaScript</h2>
                                <h3 class="card-text">I ave learned the basic level of JavaScript in previous semester and now working on its advance level.</h3>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-lg-4 col-md-5 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Database</h2>
                                <h3 class="card-text">I have learned both SQL and SSMS of database and how to operate it. </h3>
                            </div>
                        </div>
                    </div>                   
                </div> 
            </div>
    </section>
     <div style ="margin-top:170">
     </div>
include partials/footer.pug