//- 
 File Name: footer.pug
 Author's name:  Arshdeep Singh
 Website name: Personal Portfolio
 File description: This file is the footer of the whole project it is same for entire project and contains copyrights
//
<footer style= "text-align:center; border-top: 3px solid #DC3545; background-color:#b3ffff";  >
<p> Arshdeep Singh(200427322) My Personal Portfolio Application</p>
<p> Javascript Frameworks COMP2068 </p>
   // use of scripts directly from bootstrap
   script(src="~/lib/jquery/dist/jquery.min.js")
   script(src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")